---
layout: layouts/base.njk
numberOfLatestPostsToShow: 3
---

<article>
  <!-- content -->
  {{ content | safe }}
  <!-- backlinks -->
  {% if backlinks.length > 0 %}
    <nav>
        <h1>Backlinks</h1>
        <ul>
            {% for link in backlinks %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
  {% endif %}
</article>

