---
layout: layouts/base.njk
# https://www.11ty.dev/docs/quicktips/tag-pages/
---

<!-- title -->
<h1>{{ title }}</h1>
<!-- metadata -->
<ul class="post-metadata">
  <li>Posted on <time datetime="{{ page.date | htmlDateString }}">{{ page.date | htmlDateString }}</time> by <a href="/pages/about/">{{ metadata.author.name }}</a></li>
  <li> 
    {%- for tag in tags | filterTagList %}
    {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <a href="{{ tagUrl }}" class="post-tag">#{{ tag }}</a>{%- if not loop.last %}, {% endif %}
	{%- endfor %}
  </li>
</ul>
<!-- article -->
<article>
  <!-- content -->
  {{ content | safe }}
  <!-- backlinks -->
  {% if backlinks.length > 0 %}
        <h1>Backlinks</h1>
        <ul>
            {% for link in backlinks %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
  {% endif %}
  <!-- next and previous post -->
  {%- if collections.posts %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem %}
  {%- set nextPost = collections.posts | getNextCollectionItem %}
  {%- if nextPost or previousPost %}
  <h1>Continue</h1>
    <ul class="links-nextprev">
	    {%- if previousPost %}<li>Previous post: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	    {%- if nextPost %}<li>Next post: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
    </ul>
  {%- endif %}
  {%- endif %}
</article>