---
layout: layouts/base.njk
---

<ul>
{% for tag in collections | getKeys | filterTagList | sort %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>